.dashboard {
  text-align: left;
  padding: 3em 0 0 3em;
}
.banner {
  background-color: rgb(209, 226, 255);
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 10px 50px;
  width: 85%;
  justify-content: end;
  margin: auto;
}
.banner div {
  display: flex;
  align-items: center;
  width: 50%;
}
.banner .close {
  margin-left: 22%;
  cursor: pointer;
}
.extension {
  font-weight: 500;
}
.extension:hover {
  cursor: pointer;
  display: flex;
  color: rgb(38, 122, 156);
}
