.container {
  padding: 3em;
  display: grid;
  grid-template-columns: 20% 77%;
  grid-gap: 3%;
}
.container > div:nth-child(1) {
  text-align: left;
}
.container > div:nth-child(2) {
  height: max-content;
}
.category p {
  color: grey;
}
.hideOptions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.options div {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 80%;
}
.options div p {
  margin-left: 3%;
}
.category p:hover {
  cursor: pointer;
  color: black;
}
.options > div p {
  color: black;
}
.search {
  display: flex;
  border-bottom: 1px solid black;
  padding-bottom: 0.5em;
}

.search input {
  width: 100%;
  border: none;
  padding-left: 1.5em;
  font-size: 1rem;
}
.search input:focus {
  outline: none;
}
.prodContainer {
  display: grid;
  grid-template-columns: repeat(4, 24%);
  grid-gap: 1%;
  text-align: left;
  margin-top: 4em;
  grid-auto-rows: minmax(100px, auto);
}
.prodContainer::-webkit-scrollbar {
  display: none;
}
.prodContainer > div {
  margin: 1em;
  cursor: pointer;
  position: relative;
}
.prodContainer img:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.prodContainer img {
  width: 100%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}
.prodContainer h3,
.prodContainer p {
  margin: 0;
  padding: 0;
}
.offer {
  position: absolute;
  bottom: 5%;
  left: 5%;
}
.offer div {
  display: flex;
  align-items: baseline;
}
.offer p {
  color: white;
  font-weight: bold;
  font-size: 2rem;
}
.offer div > p:nth-child(1) {
  font-size: 3rem;
  margin-right: 5px;
}
.prodContainer > div:nth-child(5) .offer p,
.prodContainer > div:nth-child(48) .offer p {
  color: black;
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: auto;
  max-height: 80%;
  z-index: 5;
  background-color: white;
  padding-bottom: 2%;
  overflow-y: scroll;
}
.popup > div:first-child {
  position: relative;
  height: 70%;
  margin: 0;
}
.popup p,
.popup h2 {
  text-align: left;
}
.popup img {
  width: 100%;
  height: 100%;
}
.close {
  position: absolute;
  right: 3%;
  top: 1%;
  padding: 2%;
  font-size: 2rem;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
}
.popoffer {
  position: absolute;
  bottom: 2%;
  left: 3%;
}
.popoffer div {
  display: flex;
  align-items: baseline;
}
.popoffer p {
  color: white;
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
}
.popoffer div > p:nth-child(1) {
  font-size: 3rem;
  margin-right: 5px;
}
.des {
  padding: 0 5%;
}
.des > h5 {
  background-color: black;
  padding: 2%;
  color: white;
  border-radius: 5px;
}
.des > h4 {
  padding: 2%;
  background-color: rgb(240 241 241);
  padding: 1% 1.5%;
}
@media (max-width: 1240px) {
  .prodContainer {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-gap: 1%;
    text-align: left;
    margin-top: 4em;
  }
}
@media (max-width: 1000px) {
  .container {
    padding: 3em;
    display: block;
  }
  .hideOptions {
    display: none;
  }
  .options {
    display: none;
  }
  .category {
    display: flex;
    overflow-x: scroll;
  }
  .category p {
    width: auto;
    white-space: nowrap;
    padding: 1%;
    margin: 1%;
    background-color: rgb(240, 240, 241);
    border-radius: 20px;
    color: black;
  }
  .category::-webkit-scrollbar {
    display: none;
  }
  .category > p:last-child {
    display: none;
  }
  .filter,
  hr {
    display: none;
  }
}
@media (max-width: 768px) {
  .container {
    margin: auto;
  }
  .prodContainer {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 1%;
    text-align: left;
    margin-top: 4em;
  }
  .popup {
    max-height: 84%;
  }
}

@media (max-width: 600px) {
  .container {
    margin: auto;
  }
  .prodContainer {
    display: block;
    text-align: left;
    margin-top: 4em;
  }
  .offer {
    position: absolute;
    bottom: 17%;
  }
  .popup {
    position: fixed;
    top: 0%;
    left: 0%;
    width: auto;
    transform: initial;
    z-index: 5;
    padding-bottom: 32%;
    background-color: white;
  }
}
